@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for "Book Now" Button */
.book-now {
  
    position: relative;
    right: 10%;
    top: 10%;
    align-items: center;
    background-color: #19232d;
    border: 2px solid #dcbb87; /* Added border width, style, and color */
    padding: 9px 30px;
    border-radius: 22px;
    color: white;
    font-size: 16px;
    transition: transform 0.3s ease;
  }